<?xml version="1.0" encoding="utf-8"?>
<Config>
  <NUM_tracklength>200</NUM_tracklength>
  <guid>cbdb105f-8bd0-45b2-974d-63a71cc208f3</guid>
  <terminaltheming>True</terminaltheming>
  <plane_guid>877b216b-f4cb-46aa-a509-3c2dc0e8d4a3</plane_guid>
  <copter_guid>72fabe96-0b8c-4540-a024-1371db6ccef3</copter_guid>
  <rover_guid>242829ff-d4a4-4831-897d-58c1f71606f4</rover_guid>
  <Tuning_Graph_Selected>roll|pitch|nav_roll|nav_pitch|</Tuning_Graph_Selected>
  <MapType>GoogleSatelliteMap</MapType>
  <comport>COM7</comport>
  <baudrate>115200</baudrate>
  <APMFirmware>ArduCopter2</APMFirmware>
  <menu_autohide>false</menu_autohide>
  <kindexdate>3/11/2017</kindexdate>
  <kindex>2</kindex>
  <update_check>3/11/2017</update_check>
  <fw_check>3/11/2017</fw_check>
  <UDP_port>14550</UDP_port>
  <newuser>1/11/2017</newuser>
  <maplast_lat>37.7785275</maplast_lat>
  <maplast_lng>-122.2856184</maplast_lng>
  <maplast_zoom>17.929</maplast_zoom>
  <displayview>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;DisplayView xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;displayName&gt;Basic&lt;/displayName&gt;
  &lt;displaySimulation&gt;false&lt;/displaySimulation&gt;
  &lt;displayTerminal&gt;false&lt;/displayTerminal&gt;
  &lt;displayDonate&gt;true&lt;/displayDonate&gt;
  &lt;displayHelp&gt;true&lt;/displayHelp&gt;
  &lt;displayAnenometer&gt;true&lt;/displayAnenometer&gt;
  &lt;displayAdvActionsTab&gt;false&lt;/displayAdvActionsTab&gt;
  &lt;displaySimpleActionsTab&gt;true&lt;/displaySimpleActionsTab&gt;
  &lt;displayStatusTab&gt;false&lt;/displayStatusTab&gt;
  &lt;displayServoTab&gt;false&lt;/displayServoTab&gt;
  &lt;displayScriptsTab&gt;false&lt;/displayScriptsTab&gt;
  &lt;displayAdvancedParams&gt;false&lt;/displayAdvancedParams&gt;
  &lt;displayFullParamList&gt;false&lt;/displayFullParamList&gt;
  &lt;displayFullParamTree&gt;false&lt;/displayFullParamTree&gt;
  &lt;displayBaudCMB&gt;true&lt;/displayBaudCMB&gt;
  &lt;displaySerialPortCMB&gt;true&lt;/displaySerialPortCMB&gt;
  &lt;isAdvancedMode&gt;false&lt;/isAdvancedMode&gt;
&lt;/DisplayView&gt;</displayview>
  <logdirectory>C:\Users\Maninderpal\Documents\Mission Planner\logs</logdirectory>
  <TXT_homelat>37.7785987854004</TXT_homelat>
  <TXT_homelng>-122.285583496094</TXT_homelng>
  <TXT_homealt>11.5200004577637</TXT_homealt>
  <TXT_WPRad>2</TXT_WPRad>
  <TXT_loiterrad>45</TXT_loiterrad>
  <TXT_DefaultAlt>100</TXT_DefaultAlt>
  <CMB_altmode>Relative</CMB_altmode>
  <fpminaltwarning>0</fpminaltwarning>
  <fpcoordmouse>GEO</fpcoordmouse>
  <COM9_BAUD>115200</COM9_BAUD>
  <Tracker_TXT_tiltspeed>100</Tracker_TXT_tiltspeed>
  <Tracker_TXT_tiltaccel>5</Tracker_TXT_tiltaccel>
  <Tracker_TXT_panspeed>100</Tracker_TXT_panspeed>
  <Tracker_TXT_panaccel>5</Tracker_TXT_panaccel>
  <Tracker_TXT_centertilt>1500</Tracker_TXT_centertilt>
  <Tracker_TXT_centerpan>1500</Tracker_TXT_centerpan>
  <Tracker_TXT_pwmrangetilt>1000</Tracker_TXT_pwmrangetilt>
  <Tracker_TXT_pwmrangepan>1000</Tracker_TXT_pwmrangepan>
  <Tracker_CHK_revtilt>False</Tracker_CHK_revtilt>
  <Tracker_CHK_revpan>False</Tracker_CHK_revpan>
  <Tracker_TXT_tiltrange>90</Tracker_TXT_tiltrange>
  <Tracker_TRK_tilttrim>0</Tracker_TRK_tilttrim>
  <Tracker_TXT_panrange>360</Tracker_TXT_panrange>
  <Tracker_TRK_pantrim>0</Tracker_TRK_pantrim>
  <Tracker_CMB_baudrate />
  <Tracker_CMB_serialport>COM7</Tracker_CMB_serialport>
  <Tracker_CMB_interface>Maestro</Tracker_CMB_interface>
  <MainHeight>1026</MainHeight>
  <MainWidth>1696</MainWidth>
  <MainMaximised>Maximized</MainMaximised>
  <MainLocX>-8</MainLocX>
  <MainLocY>-8</MainLocY>
  <FlightSplitter>358</FlightSplitter>
  <COM7_BAUD>57600</COM7_BAUD>
  <speechbatteryenabled>True</speechbatteryenabled>
  <speechenable>True</speechenable>
  <speechbattery>WARNING, Battery at {batv} Volt, {batp} percent</speechbattery>
  <speechbatteryvolt>9.6</speechbatteryvolt>
  <speechbatterypercent>20</speechbatterypercent>
  <UDP_BAUD>115200</UDP_BAUD>
  <CHK_maprotation>False</CHK_maprotation>
  <AUTO_BAUD>57600</AUTO_BAUD>
</Config>